<div *ngIf='isLoggedIn()'>
  <button type="button" class="btn btn-primary btn-lg mt-3 ml-3 pr-5" (click)='showsaerch()'>Add Book</button>
  <button type="button" class="btn btn-danger btn-lg float-right mt-3 mr-3" (click)='logout()'>Logout</button><br><br>
  <button type="button" class="btn btn-primary btn-lg mt-3 ml-3 pl-2" (click)='displaysaerch()'>Search Student</button>
  </div>
  

<form #form = 'ngForm' (ngSubmit)="add(form)" class="col-md-4 offset-4 mt-5 card card-body" *ngIf = "show">
  <h1 class="text-center bg-dark text-white">Add Book</h1>
  <div class="form-group">
      <input type="text" name="bname" id="bname" class="form-control" placeholder="Enter Book Name" #bname='ngModel' ngModel>
      <!-- <button type="submit" class="btn btn-outline-primary float-right">Search</button> -->
  </div>

  <div class="form-group">
    <input type="text" name="bauthor" id="bauthor" class="form-control" placeholder="Enter Author Name" #bauthor='ngModel' ngModel>
    
</div>

<div class="form-group">
  <input type="text" name="publication" id="publication" class="form-control" placeholder="Enter publication Name" #publication='ngModel' ngModel>
  
</div>

<div class="form-group">
  <button type="submit" class="btn btn-outline-primary float-right">Add</button>
</div>
</form>

<form #form1 = 'ngForm' (ngSubmit)="getStudent(form1)" class="col-md-4 offset-4 mt-5 card card-body" *ngIf = "display" >
  <h1 class="text-center bg-dark text-white">Search Student</h1>
  
  <div class="form-group">
      <input type="number" name="rollno" id="rollno" class="form-control" placeholder="Enter Roll Number to search" #rollno='ngModel' ngModel  pattern="[0-9]{1,5}" required>
      <div *ngIf="rollno.touched && rollno.invalid">
        <p class="alert alert-danger" *ngIf="rollno.errors.required">This is required field</p>
        <p class="alert alert-danger" *ngIf="rollno.errors.pattern">Enter only number</p>
    </div>
     
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-secondary" (click)="cancel()" value="1">Cancel</button>
    <button type="submit" class="btn btn-outline-primary float-right">Search</button>
  </div>
</form>

<div *ngIf= 'myStudent !==null'>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ROLL NO.</th>
        <th>STUDENT NAME</th>
        <th>DEPARTMENT</th>
        <th>GENDER</th>
        <th>PASSWORD</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{myStudent.rollno}}</td>
        <td>{{myStudent.name}}</td>
        <td>{{myStudent.department}}</td>
        <td>{{myStudent.gender}}</td>
        <td>{{myStudent.password}}</td>
        <!-- <td><button class="btn btn-success">Request Book</button></td> -->
      </tr>
    </tbody>
  </table>
</div>