table ,th,td{
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
    border: none;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    /* border-radius: 20px; */
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    


}
table{
    width: 60%;
}
th{
    background-color: black;
    color: white;
}
tr:nth-child(even){
    background-color: chocolate;
}
tr:nth-child(odd){
    background-color: brown;
}
td:hover{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}